*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-area{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.area1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 7%;
    font-size: 15px; 
    border-bottom: 1px solid #3f2e18;
}
.area1 i:hover{
    transform: rotateY(180deg);
    color: #626856;
}
.area1 a{
    position: relative;
    display: inline-block;
}
.area1 a::before {
    content: '';
    position: absolute;
    width: 3px; 
    height: 0;
    bottom: 0;
    left: -7px; 
    background-color: #626856;

    transition: height 0.5s ease;
}

.area1 a::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 0;
    top: 0;
    right: -7px; 
    background-color: #C1BAA1;
    transition: height 1s ease;
}

.area1 a:hover::before , .area1 a:hover::after {
    height: 100%; 
}

.left-area1, .right-area1{
    display: flex;
    gap: 25px;
}
.header-area a{
    color: #3f2e18;
    text-decoration: none;
    border: none;
}

.area2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    font-size: 18px;
}
.right-area2 { 
    display: flex;
    gap: 20px;
}
.left-area2{
    padding: 0;
    width: 140px; 
    height: 77px;
}
.left-area2 img{
    width: 100%; 
    height: 100%;
}
nav >ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
}
nav ul li a{
    font-weight: 600;
}
.area2 a:hover{
    color: #626856;
}
.dropdown{
    position: relative;
    z-index: 1000;
}
.dropdown-menu{
    width: 310px;
    padding: 20px;
    background-color: #ecebde;
    border: 1px solid #3f2e187a;
    border-radius: 10px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    display: flex; 
    justify-content: space-between;
    transition: all 1s;
}
.dropdown-menu ul{
    list-style: none;
}
.dropdown-menu ul li{
    margin-bottom: 10px;
}
.dropdown-menu ul li:first-child{
    border-bottom: 1px dotted #3f2e18;
    display: inline-block;
    padding-bottom:10px ;
}
.dropdown:hover .dropdown-menu{
     transform: translateX(-50%) scale(1);
}
.right-area2 a:last-child{
    position: relative;
}
.right-area2 strong{
    position: absolute;
    top: -23px;
    left: 2px;
    background-color:#777c6d;
    color: rgb(254, 254, 254);
    padding: 5px;
    width: 24px ;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.right-area2 a:last-child:hover strong{
    top:-26px;
}
.dropdown-menu ul li:hover{
    transform: scale(1.1);
}

.main_nav >li > a{
    position: relative;
    padding: 5px;
}
    
.main_nav>li > a::before{
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    transform: scaleX(0);
    border-top: 2px solid #C1BAA1;
    border-bottom: 2px solid #C1BAA1;
    transition: transform 0.3s ease-in-out;
}
.main_nav >li > a::after{
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    border-right: 2px solid #C1BAA1;
    border-left: 2px solid #C1BAA1;
    transform: scaleY(0);
    transition: transform 0.3s ease-in-out;
}

.main_nav >li > a:hover::before {
    transform: scaleX(1);
}
.main_nav >li > a:hover::after{
    transform: scaleY(1);
}

.area3{
    text-align: center;
    background-color: #777c6d;
    padding: 5px 0;
}
.area3 p{
    letter-spacing: 1.1px;
    color: beige;
    font-size: 17px;
}
.area3 a{
    border-bottom: 2px solid #3f2e18;
    padding-bottom: 3px;
    font-weight: 900;
    display: inline-block;
    transition: all 0.2s;
}
.area3 a:hover{
    letter-spacing: 2px;
    word-spacing: 2px;
}

/* ______________________hero Section____________________ */

.hero{
    width: 100%;
    height: 90vh;;
    background-image: url(../img/Gemini_Generated_Image_p7liq5p7liq5p7li.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(31, 30, 30, 0.5);
}
.hero-content{
    width: 500px;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 15%;
    color: beige;
}
.hero-content a{
    display: inline-block;
    margin-top: 25px;
    background-color:#ecebde ;
    padding: 10px;
    text-decoration: none;
    color: #3f2e18;
    font-weight: 900;
    border-radius: 5px;
    transition: all 0.5s;
}
.hero-content a:hover{
    background-color:#40433a;
    color: beige;
    transform: scale(1.1);

}
.hero-content span{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}
.hero-content h2{
    margin: 20px 0;
    font-size: 45px;
}
.hero-content p{
    letter-spacing: 1.6px;
    font-size: 20px;
    line-height: 1.2;
}

/* ______________________collection Section____________________ */

.collection{
    margin: 90px 0;
}
.collection h2{
    text-align: center;
    color: #3f2e18;
    font-size: 32px;
    margin-bottom: 40px;
}
.collection-container{
    display: flex;
    justify-content: space-around;
}
.collection-card{
    width:  400px; 
    height: 420px;
    position: relative;
}
.collection-photo{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.collection-card img{
    width:  100%; 
    height: 100%;
    transition: all 0.5s ease;
}
.collection-card:hover img{
    transform: scale(1.08);
}
.collection-info{
    text-align: center;
    position: absolute;
    bottom:  0px;
    left: 0px;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    color: beige;
    background: linear-gradient(transparent, rgba(0,0,0,0.8));
}
.collection-info h3{
    font-size: 25px;
}
.collection-info a{
    font-size: 20px;
    color: beige;
    letter-spacing: 1.1px;
    text-decoration: none;
    border-bottom: 2px solid beige;
    padding-bottom: 4px;
    margin-bottom: 10px;
    display: inline-block;
    opacity: 0;         
    transform: translateY(50px);
    transition: all  1s ;
    font-weight: 900;
}
.collection-card:hover a{
    margin-top: 38px;
    opacity: 1;             
    transform: translateY(0); 
}
.collection-info a:hover{
    transform: scaleX(1.1);
    letter-spacing: 1.3px;
} 

/* ______________________________________________ */

.trending{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.trending-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #3f2e1833;
    padding: 17px;
    width: 85%;
    margin: auto;
    margin-bottom: 55px;
}
.trending-header h2{
    font-size: 32px;
    color: #3f2e18e3;
}
.trending-nav li{
    list-style: none;
}
.trending-nav ul {
    display: flex;
    gap: 15px;
}
.trending-nav ul a{
    color: #3f2e18;
    text-decoration: none;
    font-size: 20px;
}
.trending-nav li .selected_trend{
    color: #a58058;
    font-weight: 700;
    border-bottom: 4px solid #3f2e18;
    padding-bottom: 31.7px;
}

.like-container{
    display: grid;
    grid-template-columns: 5% 20% 20% 20% 20% 5%;
    justify-content: center;
    align-items: center;
    gap: 2%;
    position: relative;
    perspective: 1200px;
}
.like-item{
    color: #3f2e18;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
}

.trending-photo{
    position: relative;
    height: 400px;
    overflow: hidden;
}

.trending-photo img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.trending-photo::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/fas\ \(3\).jpg");
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg) translateZ(60px);
    transition: 1.2s ease;
    backface-visibility: hidden;
    
}

.like-item:hover .trending-photo::after{
    transform: rotateY(0deg)  translateZ(0);
}

/* ______________________Customer Section____________________ */

.Customer{
    background-color: #ECEBDE;
    padding: 50px 0;
    margin: 100px 0;
    color: #3f2e18;
}
.Customer h2{
    text-align: center;
    font-size: 32px;
}
.Customer-card{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin: auto;
}
.Customer-card a{
    margin: auto;
    color: #3f2e18;
}
.Customer-card i{
    font-size: 27px;
}
.Customer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Customer-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Customer-info img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}
.Customer-title{
    margin-left: 15px;
}
.Customer-title h3{
    font-size: 20px;
    line-height: 2;

}
.Customer-content > p{
    margin: 40px 0;
    font-size: 20px;
    text-align: center;
}

/* ______________________like Section____________________ */

.like h2{
    font-size: 32px;
    color: #3f2e18;
    text-align: center;
    margin-bottom: 60px;
}
.like-container{
    display: grid;
    grid-template-columns: 5% 20% 20% 20% 20% 5%;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.like-item{
    text-align: center;
    color: #3f2e18;
    position: relative;
}
.like-icons{
    position: absolute;
    background-color: #C1BAA1;
    top: 297px;
    left: 50%;
    transform: translateX(-50%)translateY(30%);
    display: flex;
    opacity: 0;
    z-index: 10;
    transition: all 0.8s ease-in-out;
}
.like-item:hover .like-icons{
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}
.like-icons a{
    padding: 12px;
    color: #3f2e18;
}
.like-icons a:hover{
    background-color:#626856;
    color: beige;
}

.like-item i{
    font-size: 25px;
}
.icon-left a{
    display: block;
    color: #3f2e18;
    margin-left: 85%;
}

.icon-right a{
    color: #3f2e18;
   margin-left: -100%;
}
.like-photo{
    position: relative;
    height: 400px;
}
.like-photo img{
    width: 100%;
    height: 100%;
}
.like-content a{
    display: block;
    font-size: 22px;
    margin: 22px 0;
    text-decoration: none;
    color: rgb(143 136 136);
}
.like-content p{
    font-size: 20px;
}
.like-content del{
    color: #3f2e18bb;
    margin-left: 10px;
}
.like-item:hover .like-content a{
    color: #3f2e18;
}
.like-photo::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;

    background-image: url(../img/Instagram\ Story\ Templates.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
    
    transition: all 1s;
}
 .like-item:hover .like-photo::after{
    width: 100%;
    height: 100%;
}

/* ______________________news Section____________________ */

.news{
    background-color:#ECEBDE;
    padding: 45px 0;
    margin: 100px 0;
}
.news h2{
    font-size: 32px;
    text-align: center;
    margin-bottom: 38px;
    color: #3f2e18;
}

.news-container{
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,30%);
    gap: 5%;  
    color: #3f2e18; 
}
.news-item p{
    font-size: 17.6px;
    margin: 15px 0;
    line-height: 1.5;
    letter-spacing: 1.1px;
    opacity: 0.8;
}
.news-item h3{
    font-size: 23px;
}
.news-item:hover h3{
    color: #415347;
}
.news-item a{
    font-size: 20px;
    color: #3f2e18; 
    transition: all 0.3s;
    display: inline-block;
}
.news-item a:hover{
    transform: scale(1.08);
}
.news-item img{
    transition: all 0.3s;
}
.news-item img:hover{
    transform: scale(1.05);
}

/* ______________________icons Section____________________ */

.icons{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #3f2e18;
}
.icon {
    width: 100%;
    height: 60px;
    position: relative;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon i{
    font-size: 50px;
    color: #83603a;
    transition: all 0.3s ;
    position: absolute;
}
.icon i:last-child{
    transform: translateY(100px); 
    color: #3f2e18; 
}

.icon-item:hover .icon i:first-child {
    transform: translateY(-100px);
}

.icon-item:hover .icon i:last-child {
    transform: translateY(0);
}

.icon-item h3{
    margin: 16px 0;
    font-size: 22px;

}
.icon-item p{
    font-size: 17px;
}

/* ______________________footer____________________ */

footer{
    width: 100%;
    height: 420px;
    margin-top: 100px;
    background-color: #777C6D;
    color: beige;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-subscribe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-subscribe h2{
    font-size: 27px;
    color: #3f2e18;
}
.footer-subscribe p{
    font-size: 18px;
    margin-top: 10px;
    letter-spacing: 1.3px;
}

.subscribe-form input{
    padding: 12px;
    width: 260px;
}
.subscribe-form input:focus{
    outline: none;
}
.subscribe-form input::placeholder {
    font-size: 16px;
}

.subscribe-form button{
    padding: 12px;
    background-color: #C1BAA1;
    border: none;
    transition: all 0.3s;
    font-size: 18px;
}
.subscribe-form button:hover{
    transform: scale(1.06);
}
.subscribe-icons a{
    font-size: 25px;
    color: beige;
    opacity: 0.5;
    margin-left: 10px;
    display: inline-block;
}
.subscribe-icons a:hover{
    transform: scale(1.3);
    opacity: 1;
}

.footer-body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footerphoto{
    width: 150px;
    height: 120px;
}
.footerphoto img{
    width: 100%;
    height: 100%;
}

.footer-body h3{
    margin-bottom: 20px;
    letter-spacing: 1.1px;
    font-size: 23px;
    color: #3f2e18;
}

.footer-body a{
    display: block;
    text-decoration: none;
    line-height: 1.5;
    color: beige;
    font-size: 17px;
    transition: all 0.3s;
    letter-spacing: 1.1px;

}
.footer-body a:hover{
    transform: scale(1.05,1.02);
    text-decoration: underline;
}

.Copyright{
    text-align: center;
}
.Copyright p{
    font-size: 18px;
    color: #3f2e18;
    font-weight: 900;
}
.Copyright a{
    text-decoration: none;
    color: #ece5cc;
    display: inline-block;
    transition: all 0.3s ease-in-out; 
    padding: 0 0px;
}
.Copyright a:hover{
    padding: 0 10px;
    text-decoration: underline;
    transform: scaleX(1.08);
}

.Copyright i{
    color: #ece5cc;
    animation: heart 1s ease-in-out infinite;
}

@keyframes heart{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
 
hr{
    border: 0;
    height: 1px;
    background-color:beige;
    width: 90%;
    margin:  0 auto;
    margin-bottom: 20px;
}